<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Discomment</title>
</head>
<body onload="getComments()">
<script src="js/discomment.js"></script>
<form action="javascript:void(0);">
    <label for="inpt_author">Name (Optional)</label>
    <input type="text" id="inpt_author"/>
    <label for="inpt_message">Chat Message</label>
    <input type="text" id="inpt_message" minlength="1"/>
    <button onclick="postComment(event)">Send</button>
</form>

<div style="display: flex; height: 100%; flex-direction: column">
    <ul id="ul_messages" style="flex-grow: 1; list-style-type: none"></ul>
</div>
</body>
</html>