<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Discomment</title>
</head>
<body>
    <script src="static/js/discomment.js" ></script>
    <form action="javascript:void(0);">
        <label for="message">Chat Message</label>
        <input type="text" id="message" minlength="1" />
        <button onclick="postComment(event)">Send</button>
    </form>

    <div style="display: flex; height: 100%; flex-direction: column">
        <ul id="messages" style="flex-grow: 1; list-style-type: none">
            {% for m in msgs %}
                <li>{{ m | safe }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>