# settings with hardcoded defaults have their values set to those defaults in this template

server:
  # auth token for the discord client
  bot_token:
  host: "127.0.0.1"
  port: 5000
  cors_allowed_origin: *
  trusted_proxies: [ "127.0.0.1" ]
  # log_level is case-insensitive
  log_level: "debug"
  # Keep salt the same for api keys, so that we can regenerate the hash and search for it efficiently in the DB
  # Not used with normal passwords that have an associated username/public info piece,
  #   the public info can be used for DB search
  # Must be 8+ characters long
  apikey_salt:
  # max size of the queue used when polling the discord client, this shouldn't need to be touched unless there's issues
  msg_queue_max: 1000
  # Number of messages to fetch from the queue before responding
  msg_queue_fetch_limit: 100
  # Whether the routes for serving static/template pages are enabled
  static_routes_enabled: false
  static_route_apikey:

# Defaults for account settings
account:
  # default channel ID, largely for ease of development
  comment_channel_id:
  # Update rate (i.e. loop sleep time) for the comments websocket
  websocket_sleep_s:
  # Discord free message max: 2000 characters
  max_msg_length: 1000
  moderation_enabled: true
  # profanity probability threshold for a message to be moderated, see alt-profanity-check documentation for more info
  linear_moderation_threshold: 0.4
  history_limit: 200
